button,
.button {
  display: block;
  outline: none;
  font-family: inherit;
  background-color: $accent;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: $neutral-white;
  border-radius: 2px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 100%;
  height: 45px;
  max-height: 45px;
  margin-bottom: .5rem;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  line-height: 2.85rem;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  transition: all .2s ease-in-out;

  &.btn-center {
    margin-right: auto;
    margin-left: auto;
  }
}
