@import '../color/variables';

form, .form {
  .form-group {
    margin-bottom: 2rem;

    &.de-marg {
      margin-bottom: 0;
    }

    .note {
      margin-bottom: .8em;
    }
  }

  input {
    //border: 1px solid rgba(0, 0, 0, .2);
    font-family: inherit;
    outline: none;
    font-weight: 500;
    //background-color: rgba(0, 0, 0, .2);
    border-radius: 2px;
    color: inherit;
    //padding: 10px 12px;
    width: 100%;

    &:focus {
      //background-color: rgb(242, 245, 250);
    }

    &:invalid,
    &.invalid,
    &[aria-invalid*="true"] {
      border-right: 5px solid var(--red);
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  label {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: .8em;
    display: block;
    margin-bottom: .5em;

    i, span {
      margin-left: .2em;
      font-size: .8em;
      font-weight: 400;
      text-transform: none;
    }
  }

  select {
    font-family: inherit;
    outline: none;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .2);
    color: $text-main;
    border-radius: 2px;
    padding: 12.8px 10px;
    font-size: .9em;
    font-weight: 500;
    text-transform: uppercase;
  }

  .submit-btn {
    text-transform: uppercase;
    color: white;
    background-color: $secondary;
  }

  input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0;

    + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      margin-bottom: 1em;

      @media (max-width: 760px) {
        //display: block;
      }
    }

    + label:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      min-width: 20px;
      height: 20px;
      min-height: 20px;
      border: 1.8px solid $secondary;
      background: #FFFFFF;
    }

    &:hover + label:before {
      background: rgba(0, 0, 0, 0.1);
    }

    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    }

    &:checked + label:before {
      background: $accent;
      border-width: 0;
    }

    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    &:checked + label:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
      4px -6px 0 white, 4px -8px 0 white;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input[type=radio] {
    &:checked, &:not(:checked) {
      position: absolute;
      left: -9999px;

      + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 15px;
          height: 15px;
          border: 1px solid #ddd;
          border-radius: 100%;
          background: #fff;
        }

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: #444444;
          position: absolute;
          top: 3px;
          left: 2.5px;
          border-radius: 100%;
        }
      }

      &:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }

      &:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }

  .submit-error {
    height: 0;
    max-height: 0;
    min-height: 0;
    width: 100%;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-transform: uppercase;*/
    padding: 0 1.5em;
    font-weight: 500;
    color: white;
    font-size: 1em;
    transition: all .3s ease;
    letter-spacing: 1px;
    text-align: center;

    &.show {
      min-height: 55px;
      height: 55px;
      padding: 1em 1.5em;
      @media (max-width: 760px) {
        height: 54px;

      }
    }
  }

  &.material {
    .form-group {
      position: relative;
    }

    input[type="password"] ~ label, input[type="text"] ~ label, input[type="email"] ~ label {
      color: $text-main;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
    }

    input[type="password"], input[type="text"], input[type="email"] {
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid $secondary;

      &:focus {
        outline: none;
      }

      &:focus ~ label, &:valid ~ label {
        top: -15px;
        font-size: 10px;
        color: $accent;
      }
    }

    select {
      position: relative;
      background-color: transparent;
      padding: 11px 10px 11px 0;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $secondary;

      &:focus {
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
      }
    }

    select ~ label {
      position: absolute;
      pointer-events: none;
      left: 3px;
      top: 10px;
      transition: 0.2s ease all;
    }

    select:focus ~ label, select:valid ~ label {
      top: -15px;
      color: $accent;
      font-size: 10px;
    }
  }
}
