<template>
  <main>
    <router-view/>
  </main>
</template>

<script>
  export default {
    name: 'App',
    data() {
      return {
        globalTitle: 'Clast',
        mq: null
      }
    },
    head() {
      return {
        title: this.globalTitle,
        titleTemplate: '%s | Simple & cool all through',
        htmlAttrs: {lang: 'en'},
        link: [
          {rel: 'favicon', href: '/favicon.ico'},
          {rel: 'manifest', href: '/manifest.json'}
        ],
        meta: []
      }
    },
    mounted() {
      this.mq = window.matchMedia('(min-width: 560px)')
      this.checkIfMobile(this.mq)
      this.mq.addListener(this.checkIfMobile)
    },
    methods: {
      checkIfMobile(mq) {
        this.$store.dispatch('ui/setIsMobile', !mq.matches)
        return !mq.matches
      }
    },
    destroyed() {
      if (this.mq) this.mq.removeListener(this.checkIfMobile)
    }
  }
</script>

<style lang="scss" src="./assets/styles/main.scss"></style>
