<template>
  <div id="server-error">
    <div class="container">
      <h1>500 - An error occurred on our side</h1>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ServerError',
    head() {
      return {
        title: this.$route.meta.title || 'Internal Server Error - 500',
        meta: this.$route.meta.description ? [{vmid: 'description', description: this.$route.meta.description}] : []
      }
    }
  }
</script>

<style lang="scss">
  @import "~@/assets/styles/_variables.scss";

  #server-error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - (#{$nav-height} - #{$footer-height}));

    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }
</style>
