// Montserrat

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-display: auto;
  font-style: normal;
  src: url("/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-display: auto;
  font-style: normal;
  src: url("/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: auto;
  font-style: normal;
  src: url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: auto;
  font-style: normal;
  src: url("/fonts/Montserrat/Montserrat-Light.woff") format("woff");
}


// Merriweather

@font-face {
  font-family: "Merriweather";
  font-weight: 600;
  font-display: auto;
  font-style: normal;
  src: url("/fonts/Merriweather/Merriweather-Bold.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 500;
  font-display: auto;
  font-style: normal;
  src: url("/fonts/Merriweather/Merriweather-Regular.woff") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-display: auto;
  font-style: normal;
  src: url("/fonts/Merriweather/Merriweather-Light.woff") format("woff");
}
