.pad-nav {
  padding-top: $nav-height;
  @media screen and (max-width: 560px) {
    padding-top: $nav-height-mobile;
  }
}

.row.reverse-on-tablet {
  @media screen and (max-width: 770px) {
    flex-direction: column-reverse;
  }
}

.row.reverse-on-mobile {
  @media screen and (max-width: 560px) {
    flex-direction: column-reverse;
  }
}

.row.no-compensate {
  margin-left: 0;
  margin-right: 0;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.no-pad {
  padding: 0;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.fixed-container {
  transform: translateZ(0);
}

.block {
  display: block;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-left {
  justify-content: left;
}

.justify-content-right {
  justify-content: right;
}

.justify-content-revert {
  justify-content: revert;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
  backface-visibility: hidden;
}
