<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{{ meta.inject().title.text() }}}
  {{{ meta.inject().meta.text() }}}
  {{{ meta.inject().link.text() }}}
  {{{ renderStyles() }}}
  {{{ output.appendHead() }}}
</head>
<body>
<!--ssr-outlet-->
{{{ renderState({windowKey: '__CLAST_STATE__'}) }}}
{{{ renderScripts() }}}
</body>
</html>
