$background: #FFF;
$dark-background: #DDD;

$primary: #00CCBC;
$primary-light: #32D6C9;
$primary-dark: #008D82;
$primary-gradient: linear-gradient(-45deg, $primary-dark, $primary 62%, $primary-light);

$secondary: #343434;

$accent: #00CCBC;

$success: #20c997;
$error: #e45f4d;

$neutral-white: #ffffff;
$text-main: #343434;
$text-alt: #6d6f71;
