<template>
  <nav id="main-nav">
    <div class="nav__inner">
      <div class="row justify-content-between relative">
        <div class="col-3 col-sm-2 logo__item">
          <div class="logo"></div>
        </div>

        <div class="col-2 menu__icon" v-if="isMobile" @click="$router.push('/')">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 77.699">
              <path
                  d="M8.871 15.54H81.13c4.879 0 8.87-3.5 8.87-7.77S86.009 0 81.13 0H8.871C3.992 0 0 3.5 0 7.77s3.992 7.77 8.871 7.77z"></path>
              <path
                  d="M81.13 62.159H8.871c-4.879 0-8.871 3.5-8.871 7.77s3.992 7.77 8.871 7.77H81.13c4.879 0 8.87-3.5 8.87-7.77s-3.992-7.77-8.87-7.77z"></path>
              <path
                  d="M81.13 31.079H8.871c-4.879 0-8.871 3.5-8.871 7.77s3.992 7.77 8.871 7.77H81.13c4.879 0 8.87-3.5 8.87-7.77s-3.992-7.77-8.87-7.77z"></path>
            </svg>
          </div>
        </div>

        <div class="col-5 menu__group" :class="{menu_mode: isMobile}">
          <div class="menu__item"></div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: 'nav-block',
    computed: mapGetters(['isMobile'])
  }
</script>

<style lang="scss">
  @import "../assets/styles/_variables.scss";

  nav#main-nav {
    background-color: transparent;
    display: flex;
    align-items: center;

    .logo__item {
      height: 100%;

      @media screen and (min-width: 560px) {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        transition: all .3s ease;
      }

      .logo {
        padding: 1rem 0;
        height: 100%;
        background-color: antiquewhite;
      }
    }

    .menu__group {
      &.menu_mode {
        position: absolute;
        left: -100%;
      }

      .menu__item {
        padding-bottom: 2rem;
        background-color: $secondary;
      }
    }

    .menu__icon {
      .icon {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: 15px;
          width: 15px;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
</style>
