<template>
  <main>
    <router-view/>
  </main>
</template>

<script>
  export default {
    name: 'App',
    head() {
      const title = 'Clast'
      const description = 'Simple & cool all through'

      return {
        title,
        titleTemplate: '%s | Simple & cool all through',
        htmlAttrs: {lang: 'en'},
        link: [
          {rel: 'favicon', href: '/favicon.ico'},
          {rel: 'canonical', href: 'http://localhost:4000'},
          {rel: 'manifest', href: '/manifest.json'},
          {rel: 'sitemap', title: 'Sitemap', type: 'application/xml', href: 'http://localhost:4000/sitemap.xml'}
        ],
        meta: [
          {name: 'theme-color', content: '#00CCBC'},
          {name: 'twitter:card', content: 'summary_large_image'},
          {name: 'twitter:site', content: 'http://localhost:4000'},
          {name: 'twitter:title', content: title},
          {name: 'twitter:description', content: description},
          {property: 'og:type', content: 'article'},
          {property: 'og:url', content: 'http://localhost:4000'},
          {property: 'og:site_name', content: 'Plade'},
          {property: 'og:title', content: title},
          {property: 'og:description', content: description},
          {property: 'og:image', content: 'http://localhost:4000'}
        ]
      }
    }
  }
</script>

<style lang="scss" src="./assets/styles/main.scss"></style>
