<template>
  <div id="landing">
    <div class="img"></div>
    <h4>Welcome to your Clast.js App</h4>
    <div class="links">
      <a target="_blank" href="https://gitlab.com/clastjs/clast/wikis/home" class="link">docs</a>
      <a target="_blank" href="https://gitlab.com/clastjs/clast" class="link">repository</a>
      <a target="_blank" href="https://gitlab.com/clastjs/clast/issues" class="link">forum</a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Home',
    asyncData() {
      // Make outward api requests before the page is compiled and rendered
      return Promise.resolve()
    }
  }
</script>

<style lang="scss">
  @import "~@/assets/styles/_variables";

  #landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img {
      height: 80px;
      width: 80px;
      background-color: #6d6f71;
      border-radius: 2px;
    }

    h4 {
      margin: .8em 0;
    }

    .links {
      display: flex;
      align-items: center;

      .link {
        font-size: 1.1em;
        color: #00CCBC;
        margin: 0 1em;
      }
    }
  }
</style>
